@charset "UTF-8";

div.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.caixa1 {
    background-color: darkslategray;
    grid-area: 1 / 1 / 2 / span 4;
}

.caixa2 {
    background-color: royalblue;
    grid-area: 2 / 1 / 4 / 3;
}

.caixa3 {
    background-color: slategrey;
    grid-area: 2 / 3 / 4 / 5;
}

