@charset "'UTF-8";

@media screen and (min-width: 768px) and (max-width: 1024px) {

    header ul {
        padding: 0px;
        line-height: normal;
        text-align: left;
        list-style-type: none;
    }

    header li {
        display: inline-block;
    }

    header a {
        display: block;
        padding: 12px;
        box-sizing: border-box;
    }
    
    header a:hover {
        background-color: rgba(240, 248, 255, 0.205);
        border-radius: 8px;
        padding: 13px;
        transition: 0.5s;
   }

   nav {
        margin-bottom: 10px;
        display: block;
   }

   main {
        min-width: 60vh;
        margin: auto;
        padding: 30px;
        width: 10vw;
   }

    main p {
        margin: 10px;
        padding: 15px; 
        text-align: justify;
   }

    i#ham {
        display: none;
        background-color: rgba(240, 248, 255, 0.959);
        margin: -2px;
    }

    #itens {
        display: block;
    }
}

@media screen and (min-width: 1025px) {

    header ul {
        padding: 0px;
        line-height: normal;
        list-style-type: none;
        text-align: left;
    }

    header li {
        display: inline-block;
    }

    header a {
        display: block;
        box-sizing: border-box;
        padding: 12px;
    }

    header a:hover {
        background-color: rgba(240, 248, 255, 0.205);
        border-radius: 8px;
        transition: 0.5s;
        box-shadow: 0px 0px 5px rgb(43, 42, 42);
        padding: 13px;
   }

   nav {
        margin-bottom: 10px;
        display: block;
   }

   main {
        min-width: 70vh;
        margin: auto;
        padding: 30px;
        width: 10vw;
   }

    main p {
        margin: 10px;
        padding: 15px; 
        text-align: justify;
   }

    i#ham {
        display: none;
        background-color: rgba(240, 248, 255, 0.959);
        margin: -2px;
    }

    #itens {
        display: block;
    }
}